#login{
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: black;
	display: inline-block;
	/*margin: 10%;*/
	float: right;
	/*position: relative;*/
	top:0;

}

#form{
	display: inline
}


#nav{
	background-color: purple;
	padding: 10px;
}

#nav a{
	text-decoration: none;
	color: white;
	/*border: solid;*/
	margin: 10px;
}

#nav a:hover{
	color: red;
}